    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        color: #DDDDDD;
        user-select: none;
    }
    
    body {
        background-color: #151515;
    }
    
    input:focus {
        outline: none;
    }
    
    .main-form-presentation {
        height: 100%;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .main-container {
        width: 650px;
        height: 500px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        background-color: #db3b2b;
        border-radius: 10px;
        transition-property: width, transform;
        transition: 0.3s ease-out;
    }

    

    .main-form {
        padding: 50px;
        width: 375px;
        height: 500px;
        background-color: #222222;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.3);
    }
    
    .main-form .div-main {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
    }
    
    .main-form .div-header h1 {
        color: white;
    }
    
    .main-form .div-body {
        align-self: flex-end;
        justify-content: flex-start;
        margin-block: 40px;
    }
    
    .main-form .div-footer {
        height: 100%;
    }
    
    .container {
        margin-top: 5px;
        width: 100%;
        display: flex;
        cursor: pointer;
        user-select: none;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        font-size: 13px;
    }
    
    .container #remember {
        appearance: none;
        cursor: pointer;
        margin-left: 10px;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: solid 2px #04d464;
        border-radius: 4px;
        transition: all 0.15s ease-in-out;
    }
    
    .container #remember:hover {
        border: 2px solid white;
        border-radius: 5px;
    }
    
    #remember:checked {
        background-color: #04d464;
        border: 2px solid transparent;
        color: #99a1a7;
        transform: rotate(90deg);
    }
    
    .div-main .div-input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .div-main .div-input input {
        margin-block: 10px;
        background-color: transparent;
        border: none;
        border-bottom: solid 2px #777777;
        color: #AAAAAA;
        align-self: center;
        width: 100%;
        transition: border 0.2s ease-in-out;
    }
    
    .div-main .div-input input:focus {
        border-bottom: solid 2px #fff;
    }
    
    .btn-main-action {
        letter-spacing: 0px;
        width: 250px;
        background-color: #04845c;
        color: white;
        border-radius: 8px;
        padding: 10px 0;
        text-align: center;
        text-decoration: 0;
        text-transform: uppercase;
        font-weight: bold;
        align-self: flex-start;
        transition: all 100ms ease-in-out;
        transition-property: border-radius, letter-spacing, background-color, box-shadow;
    }
    
    .btn-main-action:hover {
        font-weight: bolder;
        border-radius: 10px;
        background-color: #04d464;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        letter-spacing: 1px;
        transition: all 100ms ease-in-out;
        transition-property: border-radius, letter-spacing, background-color, box-shadow;
        }

    @keyframes btnClicar{
        20%{
            
        }

        50%{
            border-radius: 25px;
            margin-inline: 100px;
            width: 50px;
        }
        90%{
            border-radius: 25px;
            margin-inline: 100px;
            width: 50px; 
        }
    }

    .btn-main-action:active {
        font-weight: bolder;
        border-radius: 12px;
        letter-spacing: 0px;    
        background-color: #04f575;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
        transition-property: border-radius, letter-spacing, background-color, box-shadow;
    }

    .div-footer-signup{
        padding-bottom: 20px;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: small;
    }

    .div-footer-signup p{
        color: #AAAAAA;
    }

    .div-footer-signup a{
        color: #DDDDDD;
        letter-spacing: 1px;
        text-underline-offset: 5px;
        transition: color 0.1s ease-in-out;
    }

    .div-footer-signup a:hover{
        color: #FFFFFF;
    }

