        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300;1,700&display=swap');
        * {
            font-family: 'Poppins', sans-serif;
            color: #EEEEEE;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            background-color: #111111;
        }
        
        @media only screen and (max-width:700px) {
            main {
                display: block;
                width: 100%;
                margin: auto;
                background-color: #222222;
                padding: 25px 30px;
                transition: 0.4s ease-in-out;
            }
        }
        
        @media only screen and (min-width:700px) and (max-width:1400px) {
            main {
                display: block;
                width: 60%;
                border-radius: 10px;
                margin: auto;
                background-color: #333333;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
                padding: 25px 30px;
                transition: 0.5s;
            }
        }
        
        @media only screen and (min-width:1400px) {
            main {
                display: block;
                width: 500px;
                margin: 200px auto;
                background-color: #222222;
                border-radius: 10px;
                padding: 25px 30px;
                transition: 0.6s ease-in-out;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
            }
        }
        
        main #form-body {
            display: block;
            margin: 15px 0;
        }
        
        main a {
            text-decoration: none;
            font-weight: bolder;
            font-size: larger;
            border-radius: 10px;
            padding: 5px 15px;
            margin-left: 10px;
            box-sizing: content-box;
        }
        
        main span {
            color: #BBBBBB;
        }
        
        main #form-footer {
            display: table;
            margin-left: auto;
            transform-origin: 50% 50%;
        }
        /* Botões */
        
        main #form-footer .btn {
            background-color: orangered;
            transition: 0.2s;
        }
        
        main #form-footer .btn:hover {
            background-color: orange;
            border-radius: 13px;
        }
        
        main #form-footer .btn-cancelar:hover {
            background-color: #111111;
        }