@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap");
@keyframes btnAnim {
    0% {
        margin: auto;
        width: 100%;
        height: 40px;
        border-radius: 6px;
        background-color: orangered;
        text-align: center;
    }
    50% {
        margin: auto;
        width: 80%;
        height: 40px;
        border-radius: 6px;
        background-color: orange;
        text-align: center;
    }
    100% {
        margin: auto;
        width: 80%;
        height: 40px;
        border-radius: 6px;
        background-color: orange;
    }
}


/* SVG ANIM */

@keyframes dashAnim {
    0% {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        fill: transparent;
    }
    20% {
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
        fill: transparent;
        stroke-width: 4;
    }
    50% {
        stroke-dasharray: 450;
        stroke-dashoffset: 300;
        fill: transparent;
        stroke-width: 5;
    }
    70% {
        stroke-dasharray: 800;
        stroke-dashoffset: 400;
        fill: transparent;
        stroke-width: 5;
    }
    100% {
        fill: white;
        stroke: white;
        stroke-width: 0px;
        border: solid 3px #Fff;
    }
}

@keyframes loadingSvg {
    100% {
        rotate: 20px;
        stroke-dasharray: 30;
        stroke-dashoffset: -50;
        stroke-width: 5;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #111111;
}

main {
    width: 30%;
    height: 400px;
    margin: 300px auto;
    background-color: #222222;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-content: space-between;
    padding: 20px;
}

.btn {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: orangered;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    animation: btnAnim 0.3s forwards;
}

.st0 {
    fill: white;
    stroke: white;
    stroke-width: 0px;
    stroke-dasharray: 50;
    animation: dashAnim 5s infinite;
}

#loading {
    stroke-dasharray: 40;
    display: block;
    margin: auto;
    fill: transparent;
    stroke: white;
    stroke-width: 9px;
    animation: loadingSvg 10s infinite ease-in-out;
}