*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    height: 400px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 10px;
    background-color: tomato;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:center;
}

.my-flex-card{
    height: 80px;
    background-color: orangered;
    margin-inline:10px;
    border-radius: 15px;
    flex-basis: 15%;
    transition: 0.3s ease-in-out;
}

.my-flex-card:hover{
    background-color: orange;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    size: 200%;
}
