@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300;1,700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    color: #EEEEEE;
}

body {
    background-color: #010101;
    margin: 0;
}

main {
    width: 70%;
    display: table;
    margin: 100px auto 0 auto;
}


/*CARD DEFINITIONS*/

.card-container {
    width: 300px;
    display: block;
    float: left;
    margin: 20px;
    transition: 0.1s ease-in-out;
}

.card {
    width: 100%;
    display: table;
    background-color: #111111;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.10);
    padding: 15px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0px auto;
    transition: 0.1s ease-in-out;
}

.card img:hover {
    opacity: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.card .card-body {
    width: 100%;
    display: table;
    margin-top: 15px;
}

.card .card-body h1 {
    color: #EEEEEE;
    font-weight: bold;
    font-size: medium;
    margin: 10px 0;
}

.card .card-body p {
    font-size: 0.9rem;
    margin: 1.2rem 0;
    color: #AAAAAA;
}

.card .card-footer {
    margin: 15px 0 0 0;
}

.card .card-footer #btn {
    margin: auto;
    background-color: orangered;
    text-decoration: none;
    font-weight: bold;
    color: #EEEEEE;
    padding: 10px 30px;
    box-sizing: border-box;
    display: block;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 1.55px);
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.card .card-footer #btn:hover {
    background-color: orange;
}

#card-img-outside {
    margin-top: -20%;
}