* {
    box-sizing: border-box;
}

.my-container {
    display: flex;
    background-color: tomato;
    width: 600px;
    height: 600px;
    margin: 60px auto;
    border-radius: 8px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.my-item {
    background-color: thistle;
    border-radius: 20px;
    padding: 10px;
    border: 4px solid rgb(200, 255, 0);
    flex-basis: 25%;
}